.wrap
  %header.search-bar
    / 検索バー
    .search-box
      .search-box-icon
        = image_tag('material/logo/logo.png',class:"header-logo")
      .search-box-text
        = form_with url: "#", method: :post, class:"input-form",local: true do |form|
          = form.text_field :content ,class:"search",placeholder: 'キーワードから探す'
          = form.label :submitbtn ,class:"submitbtn" do
            = icon('fas', 'search',class:"seacrhicon")
            = form.submit id:"submitbtn",class:"sbtn"
    / navbar（カテゴリーetc）、トップイメージなど
    .search-nav
      %ul.left-lists
        %li.category
          %a{:href => "#"} カテゴリー
          %a{:href => "#"}
            %li.brand ブランド
      %ul.right-lists
        %a{:href => "#"}
          %li.login ログイン
        %a{:href => "#"}
          %li.new 新規会員登録
  / パンくずリスト
  %nav.bredcrumbs
    %ul
      %li
        %a{:href => ""} furima
      %li
        %i.fas.fa-chevron-right
      %li
        %a{:href => ""} マイページ


  / メイン画像〜商品詳細まで
  .main
    .side-bar
      .side-bar__mypage
        %ul
          %li 
            =link_to 'マイページ',"#" , class:"list"
            %i.fas.fa-chevron-right
          %li 
            =link_to 'お知らせ',"#" , class:"list"
            %i.fas.fa-chevron-right
          %li 
            =link_to 'やることリスト',"#" , class:"list" 
            %i.fas.fa-chevron-right
          %li 
            =link_to 'やることリスト',"#" , class:"list"
            %i.fas.fa-chevron-right
          %li 
            =link_to 'いいね！一覧',"#" , class:"list"
            %i.fas.fa-chevron-right
          %li 
            =link_to '出品する',"#" , class:"list"
            %i.fas.fa-chevron-right
          %li 
            =link_to '下書き一覧',"#" , class:"list"
            %i.fas.fa-chevron-right
          %li 
            =link_to '出品した商品 - 出品中',"#" , class:"list"
            %i.fas.fa-chevron-right
          %li 
            =link_to '出品した商品 - 取引中',"#" , class:"list"
            %i.fas.fa-chevron-right
          %li 
            =link_to '出品した商品 - 売却済み',"#" , class:"list"
            %i.fas.fa-chevron-right
          %li 
            =link_to '購入した商品 - 取引中',"#" , class:"list"
            %i.fas.fa-chevron-right
          %li 
            =link_to '購入した商品 - 過去の取引',"#" , class:"list"
            %i.fas.fa-chevron-right
          %li 
            =link_to 'ニュース一覧',"#" , class:"list"
            %i.fas.fa-chevron-right
          %li 
            =link_to '評価一覧',"#" , class:"list"
            %i.fas.fa-chevron-right
          %li 
            =link_to 'ガイド',"#" , class:"list"
            %i.fas.fa-chevron-right
          %li 
            =link_to 'お問い合わせ',"#" , class:"list"
            %i.fas.fa-chevron-right

      .side-bar__setting
        %h1 設定
        %ul
          %li 
            =link_to 'プロフィール',"#" , class:"list"
            %i.fas.fa-chevron-right
          %li 
            =link_to '発送元・お届け先住所変更',"#" , class:"list"
            %i.fas.fa-chevron-right
          %li 
            =link_to '支払い方法',"#" , class:"list"
            %i.fas.fa-chevron-right
          %li 
            =link_to 'メール/パスワード',"#" , class:"list"
            %i.fas.fa-chevron-right
          %li 
            =link_to '本人情報',"#" , class:"list"
            %i.fas.fa-chevron-right
          %li 
            =link_to '電話番号の確認',"#" , class:"list"
            %i.fas.fa-chevron-right
          %li 
            =link_to 'ログアウト' ,"/users/new", method: :delete, class:"list"
            %i.fas.fa-chevron-right
 
    .main-page
      .main-page__logout
        .main-page__logout__btn
          - if user_signed_in?
            = link_to "ログアウト", destroy_user_session_path, method: :delete
  / いますぐ無料ダウンロード
  #bottom-ad
    .bottom-picture
      .bottom-picture-box
        %h2 だれでもかんたん、人生を変えるフリマアプリ
        %p 今すぐ無料ダウンロード！
        %div
          .content-btn
            = link_to "#" do
              = image_tag('material/icon/app-store.svg',class:"abtn")
            = link_to "#" do
              = image_tag('material/icon/google-play.svg',class:"gbtn")
  / フッター
  #footer
    %ul.contents
      %li.content
        %h2.title-foot FURIMAについて
        %ul
          %li
            %a{:href => "#"} 会社概要（運営会社）
          %li
            %a{:href => "#"} プライバシーポリシー
          %li
            %a{:href => "#"} FURIMA利用契約
          %li
            %a{:href => "#"} ポイントに関する特約
      %li.content
        %h2.title-foot FURIMAを見る
        %ul
          %li
            %a{:href => "#"} カテゴリー一覧
          %li
            %a{:href => "#"} ブランド一覧ー
      %li.content
        %h2.title-foot ヘルプ＆ガイド
        %ul
          %li
            %a{:href => "#"} FURIMAガイド
          %li
            %a{:href => "#"} FURIMAロゴ利用ガイドライン
          %li
            %a{:href => "#"} お知らせ
    .logo-foot
      = link_to "#" do
        = image_tag('material/logo/logo-white.png',class:"biglogo")
    %p.minilogo © FURIMA

  / 出品アイコン
  = link_to "#" do
    .purchase-box
      %span.purchase-text 出品する
      = image_tag('material/icon/icon_camera.png',class:"camera-image")



