.Render
  = render "template/header"
  .main
    .side-bar
      .side-bar__mypage
        %ul
          %li 
            =link_to 'マイページ',edit_post_path , class:"list"
            %i.fas.fa-chevron-right
          %li 
            =link_to 'お知らせ',"#" , class:"list"
            %i.fas.fa-chevron-right
          %li 
            =link_to 'やることリスト',"#" , class:"list" 
            %i.fas.fa-chevron-right
          %li 
            =link_to 'やることリスト',"#" , class:"list"
            %i.fas.fa-chevron-right
          %li 
            =link_to 'いいね！一覧',"#" , class:"list"
            %i.fas.fa-chevron-right
          %li 
            =link_to '出品する',new_post_path , class:"list"
            %i.fas.fa-chevron-right
          %li 
            =link_to '下書き一覧',"#" , class:"list"
            %i.fas.fa-chevron-right
          %li 
            =link_to '出品した商品 - 出品中',"#" , class:"list"
            %i.fas.fa-chevron-right
          %li 
            =link_to '出品した商品 - 取引中',"#" , class:"list"
            %i.fas.fa-chevron-right
          %li 
            =link_to '出品した商品 - 売却済み',"/posts/update" , class:"list"
            %i.fas.fa-chevron-right
          %li 
            =link_to '購入した商品 - 取引中',"#" , class:"list"
            %i.fas.fa-chevron-right
          %li 
            =link_to '購入した商品 - 過去の取引',"#" , class:"list"
            %i.fas.fa-chevron-right
          %li 
            =link_to 'ニュース一覧',"#" , class:"list"
            %i.fas.fa-chevron-right
          %li 
            =link_to '評価一覧',"#" , class:"list"
            %i.fas.fa-chevron-right
          %li 
            =link_to 'ガイド',"#" , class:"list"
            %i.fas.fa-chevron-right
          %li 
            =link_to 'お問い合わせ',"#" , class:"list"
            %i.fas.fa-chevron-right

      .side-bar__setting
        %h1 設定
        %ul
          %li 
            =link_to 'プロフィール',"#" , class:"list"
            %i.fas.fa-chevron-right
          %li 
            =link_to '発送元・お届け先住所変更',"#" , class:"list"
            %i.fas.fa-chevron-right
          %li 
            =link_to '支払い方法', cards_path , class:"list"
            %i.fas.fa-chesvron-right
          %li 
            =link_to 'メール/パスワード',"#" , class:"list"
            %i.fas.fa-chevron-right
          %li 
            =link_to '本人情報',"#" , class:"list"
            %i.fas.fa-chevron-right
          %li 
            =link_to '電話番号の確認',"#" , class:"list"
            %i.fas.fa-chevron-right
          %li 
            =link_to 'ログアウト' ,"/users/new", class:"list"
            %i.fas.fa-chevron-right
 
    .main-page
      .main-page__profile
        .main-page__profile__banner
          = image_tag('material/product-img/a004.png',class:"profile-icon")
          %p 評価 20 出品数 50
        .main-page__profile__list
          %h2 お知らせ
          %ul
            %li 
              =link_to '事務局からメッセージ',"#" , class:"list-msg"
            %li 
              =link_to '事務局からメッセージ',"#" , class:"list-msg"
            %li 
              =link_to '事務局からメッセージ',"#" , class:"list-msg"
            %li
              =link_to '事務局からメッセージ',"#" , class:"list-msg"
            %li
              =link_to '事務局からメッセージ',"#" , class:"list-msg"

            %li.bottom 一覧を見る
      .main-page__history
        .main-page__history__list
          %h2 購入した商品
          %ul
            %li aaaaa
            %li bbbbb
            %li ccccc
            %li.bottom 一覧を見る


  / いますぐ無料ダウンロード
  #bottom-ad
    .bottom-picture
      .bottom-picture-box
        %h2 だれでもかんたん、人生を変えるフリマアプリ
        %p 今すぐ無料ダウンロード！
        %div
          .content-btn
            = link_to "#" do
              = image_tag('material/icon/app-store.svg',class:"abtn")
            = link_to "#" do
              = image_tag('material/icon/google-play.svg',class:"gbtn")
  = render  "template/footer"
