<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- css呼び出し -->
    <link rel="stylesheet_new" href="Flea-market/app/assets/stylesheets_new/styles.css">
    <link rel="stylesheet_new" href="Flea-market/app/assets/stylesheets_new/reset.css">
    <!-- FontAwesome呼び出し -->
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  </head>


  <body>
    <div class="wrap">

    <header class="search-bar">
      <!-- 検索バー -->
      <div class="search-box">
        <div class="search-box-icon">
          <%=image_tag 'app/assets/stylesheets_new/material/logo/logo.png',:class="header-logo" %>
        </div>
        <div class="search-box-text">
          <form class="input-form">
            <input class="search" type="text" name="search"  placeholder="キーワードから探す" class="inputform">
            <div class="submit-icon" >
              <input class="submitbtn" type="image" name="submit" src="app/assets/stylesheets_new/material/icon/icon-search1.png"> 
            </div> 
          </form>
        </div>
      </div>
      <!-- navbar（カテゴリーetc）、トップイメージなど -->
      <div class="search-nav">
        <ul class="left-lists">
          <li class="category">
           <%= link_to "/" do %>
            <li class="brand">カテゴリー</li>
          <% end %>
          <%= link_to "/" do %>
            <li class="brand">ブランド</li>
          <% end %>
        </ul>
        <ul class="right-lists">
          <%= link_to "/" do %>
            <li class="login">ログイン</li>
          <% end %>
          <%= link_to "/" do %>
            <li class="new">新規会員登録</li>
          <% end %>
        </ul>
      </div>
    </header>
    
<!-- パンくずリスト -->
    <nav class="bredcrumbs">
      <ul>
        <li>
          <%= link_to "furima","#" %>
        </li>
        <li>
          <i class="fas fa-chevron-right"></i>
        </li>
        <li>
          <%= link_to "ベビー・キッズ","#" %>
        </li>
        <li>
          <i class="fas fa-chevron-right"></i>
        </li>
        <li>
          <%= link_to "ベビー服(男の子用)~95cm","#" %>
        </li>
        <li>
          <i class="fas fa-chevron-right"></i>
        </li>
        <li>
          <%= link_to "アウター","#" %>
        </li>
        <li>
          <i class="fas fa-chevron-right"></i>
        </li>
        <li>
          <p>ee</p>
        </li>
      </ul>

    </nav>
<!-- メイン画像〜商品詳細まで -->  
    <div id="main">
      <div class="content">
        <div class="itembox">
          <h2 class="itembox__name">ee</h2>
          <div class="itembox__body">
            <ul>
              <li>
                <%=image_tag 'app/assets/stylesheets_new/material/product-img/IMG_9072.jpeg',:class="main-image" alt=>"bigimg" height="140"width="170"%>
                <ul class="imgbox-small">
                  <li>
                    <%=image_tag 'app/assets/stylesheets_new/material/product-img/a001.png',:class="subimage" alt=>"smallimage" height="140"width="170"%>
                  </li>
                  <li>
                    <%=image_tag 'app/assets/stylesheets_new/material/product-img/a004.png',:class="subimage" alt=>"smallimage" height="140"width="170"%>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="itembox__price">
            <span class="price">¥1000</span>
            <div class="itembox__tax">
              <span>(税込)</span><span>送料込み</span>
            </div>
          </div>
          <h2 class="itembox__text">EEE</h2>
          <div class="itembox__detail">
            <table>
              <tr>
                <th>出品者</th>
                <td>ss</td>
              </tr>
              <tr>
                <th>カテゴリー</th>
                <td>
                  <%= link_to "ベビー・キッズ","#" %>
                  <br>
                  <%= link_to "ベビー服(男の子用)","#" %>
                  <br>
                  <%= link_to "アウター","#" %>
                </td>
              </tr>
              <tr>
                <th>ブランド</th>
                <td></td>
              </tr>
              <tr>
                <th>商品のサイズ</th>
                <td></td>
              </tr>
              <tr>
                <th>商品の状態</th>
                <td>新品/未使用</td>
              </tr>
              <tr>
                <th>配送料の負担</th>
                <td>送料込み(出品者負担)</td>
              </tr>
              <tr>
                <th>発送元の地域</th>
                <td>
                  <%= link_to "北海道", "#" %>
                </td>
              </tr>
              <tr>
                <th>発送日の目安</th>
                <td>1-2日で発送</td>
              </tr>
            </table>
          </div>
          <div class="itembox__area">
            <ul class="likebtn-box">
              <li class="likebtn">
                <i class="fas fa-star"></i>
                お気に入り 0
              </li>
            </ul>
            <ul class="report">
              <li class="reportbtn">
                <%= link_to "#" do %>
                  <i class="fas fa-flag"></i>
                  不適切な商品の通報
                <% end %>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="commentbox">
        <form class="new-comment" >
        <textarea name="" id="" cols="90" rows="5"></textarea>
        <p class="noticemsg">相手のことを考え丁寧なコメントを心がけましょう。<br>不快な言葉遣いなどは利用制限や退会処分となることがあります。</p>
        <buttun name="button" type="submit" class="commentbtn" >
          <i class="fa fa-comment"></i>
          コメントする
        </buttun>
        </form>
      </div>
    </div>
    <ul class="links">
      <li>
        <%= link_to "#" do%>
          <i class="fa fa-angle-left"></i>
          <span>前の商品</span>
        <%end%>
      </li>
      <li>
        <%= link_to "#" do%>
          <span>後ろの商品</span>
          <i class="fa fa-angle-right"></i>
        <%end%>
      </li>
    </ul>
    <div class="recommended-items">
      <%= link_to "ベビー・キッズをもっと見る","#" %>
      <div class="recommended-items__lists">
        <div class="recommended-items__list">
          <%=image_tag 'app/assets/stylesheets_new/material/product-img/a007.png',:class="prod-img"%>
        </div>
        <div class="recommended-items__img">
          <h3 class="prod-name">ee</h3>
          <div class="details">
            <ul class="money-box">
              <li class="price">1000円</li>
              <li>
                <i class="fas fa-star"></i>
                0
              </li>
            </ul>
            <p class="tax">(税込)</p>
          </div>
        </div>
      </div>
    </div>

<!-- いますぐ無料ダウンロード -->
    <div id="bottom-ad">
      <div class="bottom-picture">
        <div class="bottom-picture-box">
        <h2>だれでもかんたん、人生を変えるフリマアプリ</h2>
        <p>今すぐ無料ダウンロード！</p>
        <div>
          <div class="content-btn">
          <%=link_to image_tag('app-store.svg', class:"abtn"),'material/icon/app-store.svg'%>
          <%=link_to image_tag('google-play.svg', class:"gbtn"),'material/icon/google-play.svg'%>
          </div>
        </div>
      </div>
    </div>
    </div>
    
<!-- フッター -->
    <div id="footer">
      <ul class="contents">
        <li class="content">
          <h2 class="title-foot">FURIMAについて</h2>
          <ul>
            <li><%= link_to "会社概要（運営会社）","#" %></li>
            <li><%= link_to "プライバシーポリシー","#" %></li>
            <li><%= link_to "FURIMA利用契約","#" %></li>
            <li><%= link_to "ポイントに関する特約","#" %></li>
          </ul>
        </li>
        <li class="content">
          <h2 class="title-foot">FURIMAを見る</h2> 
          <ul>
            <li><%= link_to "カテゴリー一覧","#" %></li>
            <li><%= link_to "ブランド一覧","#" %></li>
          </ul>
        </li>
        <li class="content">
          <h2 class="title-foot">ヘルプ＆ガイド</h2>
          <ul>
            <li><%= link_to "FURIMAガイド","#" %></li>
            <li><%= link_to "FURIMAロゴ利用ガイドライン","#" %></li>
            <li><%= link_to "お知らせ","#" %></li>
          </ul>
        </li>
      </ul>
      <div class="logo-foot">
        <%= link_to( "#", class:'') do%>
        <%=image_tag 'app/assets/stylesheets_new/material/logo/logo-white.png',:class="biglogo", alt=>"logo"%>
        <% end %>
      </div>
      <p class="minilogo">© FURIMA</p>
    </div>

<!-- 出品アイコン -->
  <%= link_to( "#", class:'') do%>
    <div class="purchase-box">
        <span class="purchase-text">出品する</span>
        <%=image_tag 'app/assets/stylesheets_new/material/icon/icon_camera.png',:class="camera-image", alt=>"camera"%>
    </div>
  <% end %>

  </div>
  </body>

</html>