.header-logo-post
  = image_tag('material/logo/logo.png',class:"head-logo")
.wrapper
  = form_with model: @post, method: :post do |form|
    .exhibition
      .images
        %p.image 出品画像 必須
        %p.max-10 最大5枚までアップロードできます
        #image-box
          #previews
            - if @post.persisted?
              - @post.images.each_with_index do |image, i|
                = image_tag image.src.url, data: { index: i }, width: "100", height: '100'
          = form.fields_for :images do |image|
            .js-file_group{"data-index" => "#{image.index}"}
              = image.file_field :src, class: 'js-file'
              %br/
              %span.js-remove 削除
            - if @post.persisted?
              = image.check_box :_destroy, data:{ index: image.index }, class: 'hidden-destroy'
          - if @post.persisted?
            .js-file_group{"data-index" => "#{@post.images.count}"}
              = file_field_tag :src, name: "post[images_attributes][#{@post.images.count}][src]", class: 'js-file'
              .js-remove 削除
        %p 商品名 必須
        = form.text_field :name ,placeholder:"40文字まで"
        %p.about 商品の説明 必須
        = form.text_area :about, size: "28x7",placeholder:"商品の説明（必須 1000文字以内）\n（色、素材、重さ、定価、注意点など）  \n例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです"
      .about
        %p.label 商品の詳細
        %p.category カテゴリー 必須
        .category-form
          = form.select :category, [ ["レディース","レディース"], ["メンズ", "メンズ"], ["ベビー・キッズ", "ベビー・キッズ"],["インテリア・住まい・小物","インテリア・住まい・小物"], ["本・音楽・ゲーム", "本・音楽・ゲーム"], ["おもちゃ・ホビー・グッズ", "おもちゃ・ホビー・グッズ"], ["コスメ・香水・美容", "コスメ・香水・美容"], ["家電・スマホ・カメラ", "家電・スマホ・カメラ"],["スポーツ・レジャー","スポーツ・レジャー"],["ハンドメイド","ハンドメイド"],["チケット","チケット"],["自転車・オートバイ","自転車・オートバイ"],["その他","その他"]], prompt: "選択してください"
        %p サイズ 必須
        = form.select :size, [["XXS以下","XXS以下"],["XS","XS"], ["S","S"], ["M", "M"], ["L","L"], ["XL","XL"], ["XXL","XXL"],["FREESIZE","FREESIZE"]], prompt: "選択してください"
        %p ブランド 任意
        = form.text_field :bland,placeholder:"例)シャネル"
        %p 商品の状態 必須
        = form.select :status, [ ["新品、未使用","新品、未使用"], ["未使用に近い","未使用に近い" ], ["目立った傷や汚れなし", "目立った傷や汚れなし" ] ,["やや傷や汚れあり","やや傷や汚れあり" ], ["傷や汚れあり", "傷や汚れあり"], ["全体的に状態が悪い","全体的に状態が悪い" ] ], prompt: "選択してください"
      .delivery
        %p.label 配送について
        %p 配送料の負担 必須
        = form.select :fee, [ ["送料込み","送料込み"], ["着払い", "着払い"]], prompt: "選択してください"
        %p 配送の方法 必須
        = form.select :delivery, [ ["未定","未定"], ["クロネコヤマト", "クロネコヤマト"], ["ゆうパック", "ゆうパック" ] ,["ゆうメール", "ゆうメール"]], prompt: "選択してください"
        %p 発送元の地域 必須
        = form.select :area, [ ["北海道","北海道"],["青森県","青森県"],["岩手県","岩手県"],["宮城県","宮城県"],["秋田県","秋田県"],["山形県","山形県"],["福島県","福島県"],["茨城県","茨城県"],["栃木県","栃木県"],["群馬県","群馬県"],["埼玉県","埼玉県"],["千葉県","千葉県"],["東京都","東京都"],["神奈川県","神奈川,県"],["新潟県","新潟県"],["富山県","富山県"],["石川県","石川県"],["福井県","福井県"],["山梨県","山梨県"],["長野県","長野県"],["岐阜県","岐阜県"],["静岡県","静岡県"],["愛知県","愛知県"],["三重県","三重県"],["滋賀県","滋賀県"],["京都府","京都府"],["大阪府","大阪府"],["兵庫県","兵庫県"],["奈良県","奈良県"],["和歌山県","和歌山,県"],["鳥取県","鳥取県"],["島根県","島根県"],["岡山県","岡山県"],["広島県","広島県"],["山口県","山口県"],["徳島県","徳島県"],["香川県","香川県"],["愛媛県","愛媛県"],["高知県","高知県"],["福岡県","福岡県"],["佐賀県","佐賀県"],["長崎県","長崎県"],["熊本県","熊本県"],["大分県","大分県"],["宮崎県","宮崎県"],["鹿児島県","鹿児島県"],["沖縄県","沖縄県"]], prompt: "選択してください"
        %p 発送までの日数 必須
        = form.select :days, [ ["1~2日で発送","1~2日で発送"], ["2~3日で発送","2~3日で発送" ], ["4~7日で発送","4~7日で発送"]], prompt: "選択してください"
      .price
        %p.label 価格価格（¥300~¥9,999,999）
        .price-num
          %p 販売価格 必須
          = form.number_field :price,placeholder:"0"
      .submit
        = form.submit"出品する"
        = link_to "もどる", root_path
  = link_to root_path do
    = image_tag('material/logo/logo-white.png',class:"footer-logo")
  %p.minilogo © FURIMA
