<%= form_with model: @post do |form| %>
<%# 商品出品 %>
  <div class="exhibition">
  <%# 画像投稿 %>
    <div class="images">
      <p>出品画像</p>
      <p>最大10枚までアップロードできます</p>
        <%= form.file_field :name %>
        <%= form.file_field :name %>
        <%= form.file_field :name %>
        <%= form.file_field :name %>
        <%= form.file_field :name %>
    </div>
  <%# 商品について %>
    <div class="items">
    <p>商品名</p>
      <%= form.text_field :name ,placeholder:"40文字まで"%>
        <p>商品の説明</p>
        <%= form.text_area :name,placeholder:"商品の説明（必須 1000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです" %>
      </div>
      <%# 商品の詳細 %>
      <div class="about">
        <p>商品の詳細</p>
        <p>カテゴリー</p>
        <%= form.text_field :name %>
        <%= form.text_field :name %>
        <%= form.text_field :name %>
        <p>サイズ</p>
        <%= form.text_field :name %>
        <p>ブランド</p>
        <%= form.text_field :name　,placeholder:"例)シャネル" %>
        <p>商品の状態</p>
        <%= form.select :status, [ ["プログラマン講師",1], ["家電メーカー", 2], ["主婦", 3 ] ,["保育士", 4], ["学生", 5], ["営業", 6] ], prompt: "職業を選択してください" %>
      </div>
      <%# 配送について %>
      <div class="delivery">
      <p>配送について</p>
      <p>配送料の負担</p>
      <%= form.select :status, [ ["送料込み(出品者負担)",1], ["着払い(購入者負担)", 2]], prompt: "職業を選択してください" %>
      <p>配送の方法</p>
      <%= form.select :status, [ ["未定",1], ["クロネコヤマト", 2], ["ゆうパック", 3 ] ,["ゆうメール", 4]], prompt: "職業を選択してください" %>
      <p>発送元の地域</p>
      <%= form.select :status, [ ["プログラマン講師",1], ["家電メーカー", 2], ["主婦", 3 ] ,["保育士", 4], ["学生", 5], ["営業", 6] ], prompt: "職業を選択してください" %>
      <p>発送までの日数</p>
      <%= form.select :status, [ ["1~2日で発送",1], ["2~3日で発送", 2], ["4~7日で発送", 3 ]], prompt: "職業を選択してください" %>
      </div>
      <%# 価格 %>
      <div class="price">
        <p>価格価格（¥300~¥9,999,999）</p>
        <p>販売価格</p>
        <%= form.number_field :name %>
        <p>販売手数料（10%）</p>
        <p>販売利益</p>
      </div>
      <div class="submit">
        <%= form.submit"出品する"%>
      <%= link_to"戻る", "/posts"%>
      </div>
  </div>
<% end %>