.header-logo-post
  = image_tag('material/logo/logo.png',class:"head-logo")
.wrapper
  = form_with model: @post, method: :post do |form|
    .exhibition
      .images
        %p.image 出品画像 必須
        %p.max-10 最大10枚までアップロードできます
        = form.file_field :image
        %p 商品名 必須
        = form.text_field :name ,placeholder:"40文字まで"
        %p.about 商品の説明 必須
        = form.text_area :about, size: "28x7",placeholder:"商品の説明（必須 1000文字以内\n（色、素材、重さ、定価、注意点など）  \n例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです"            |
      .about
        %p.label 商品の詳細
        %p.category カテゴリー 必須
        .category-form
          = form.select :category, [ ["レディース","レディース"], ["メンズ", "メンズ"], ["ベビー・キッズ", "ベビー・キッズ"],["インテリア・住まい・小物","インテリア・住まい・小物"], ["本・音楽・ゲーム", "本・音楽・ゲーム"], ["おもちゃ・ホビー・グッズ", "おもちゃ・ホビー・グッズ"], ["コスメ・香水・美容", "コスメ・香水・美容"], ["家電・スマホ・カメラ", "家電・スマホ・カメラ"],["スポーツ・レジャー","スポーツ・レジャー"],["ハンドメイド","ハンドメイド"],["チケット","チケット"],["自転車・オートバイ","自転車・オートバイ"],["その他","その他"]], prompt: "選択してください"
        %p サイズ 必須
        = form.select :size, [["XXS以下","XXS以下"],["XS","XS"], ["S","S"], ["M", "M"], ["L","L"], ["XL","XL"], ["XXL","XXL"],["FREESIZE","FREESIZE"]], prompt: "選択してください"
        %p ブランド 任意
        = form.text_field :bland,placeholder:"例)シャネル"
        %p 商品の状態 必須
        = form.select :status, [ ["新品、未使用","新品、未使用"], ["未使用に近い","未使用に近い" ], ["目立った傷や汚れなし", "目立った傷や汚れなし" ] ,["やや傷や汚れあり","やや傷や汚れあり" ], ["傷や汚れあり", "傷や汚れあり"], ["全体的に状態が悪い","全体的に状態が悪い" ] ], prompt: "選択してください"
      .delivery
        %p.label 配送について
        %p 配送料の負担 必須
        = form.select :fee, [ ["送料込み","送料込み"], ["着払い", "着払い"]], prompt: "選択してください"
        %p 配送の方法 必須
<<<<<<< HEAD
        = form.select :delivery, [ ["未定","未定"], ["クロネコヤマト", "クロネコヤマト"], ["ゆうパック", "ゆうパック" ] ,["ゆうメール", "ゆうメール"]], prompt: "選択してください"
=======
        -# = form.select :method, [ ["未定","未定"], ["クロネコヤマト", "クロネコヤマト"], ["ゆうパック", "ゆうパック" ] ,["ゆうメール", "ゆうメール"]], prompt: "選択してください"
>>>>>>> 6d66e2b39982a4ade9c6ff6daf44e100ec343dd7
        %p 発送元の地域 必須
        = form.select :area, [ ["福岡県","福岡県"], ["熊本県", "熊本県"]], prompt: "選択してください"
        %p 発送までの日数 必須
        = form.select :days, [ ["1~2日で発送","1~2日で発送"], ["2~3日で発送","2~3日で発送" ], ["4~7日で発送","4~7日で発送"]], prompt: "選択してください"
      .price
        %p.label 価格価格（¥300~¥9,999,999）
        .price-num
          %p 販売価格 必須
          = form.number_field :price,placeholder:"0"
      .submit
        = form.submit"出品する"
        = link_to "もどる", root_path
  = link_to root_path do
    = image_tag('material/logo/logo-white.png',class:"footer-logo")
  %p.minilogo © FURIMA
