    .wrap
      %header.search-bar
        / 検索バー
        .search-box
          .search-box-icon
            = link_to image_tag('logo.png', class: "header-logo"), 'material/logo/logo.png' 
          .search-box-text
            %form.input-form
              %input.search{name: "search", placeholder: "キーワードから探す", type: "text"}/
              .submit-icon
                %input.submitbtn{name: "submit", src: "material/icon/icon-search1.png", type: "image"}/
        / navbar（カテゴリーetc）、トップイメージなど
        .search-nav
          %ul.left-lists
           %li
            = link_to "カテゴリー", "#", class: "login"
          %li
            = link_to "ブランド", "#", class: "new"
          %ul.right-lists
          %li
            = link_to "ログイン", "#", class: "login"
          %li
            = link_to "新規会員登録", "#", class: "new"
      / パンくずリスト
      %nav.bredcrumbs
        %ul
          %li
            = link_to "furima", "#", class: ""
          %li
            = icon("fas", "chevron-right")
          %li
            = link_to "ベビー・キッズ", "#", class: ""
          %li
            = icon("fas", "chevron-right")
          %li
            = link_to "ベビー服(男の子用)~95cm", "#", class: ""
          %li
            = icon("fas", "chevron-right")
          %li
            = link_to "アウター", "#", class: ""
          %li
            = icon("fas", "chevron-right")
          %li
            %p ee
      / メイン画像〜商品詳細まで
      #main
        .content
          .itembox
            %h2.itembox__name ee
            .itembox__body
              %ul
                %li
                    = link_to image_tag('IMG_9072.jpeg', class: "main-image"), 'material/product-img/IMG_9072.jpeg' 

                  %ul.imgbox-small
                    %li
                      = link_to image_tag('a001.png', class: "subimage" height: "140" width: "170"), 'material/product-img/a001.png' 
                    %li
                      = link_to image_tag('a004.png', class: "subimage" height: "140" width: "170"), 'material/product-img/a004.png' 
            .itembox__price
              %span.price ¥1000
              .itembox__tax
                %span (税込)
                %span 送料込み
            %h2.itembox__text EEE
            .itembox__detail
              %table
                %tr
                  %th 出品者
                  %td ss
                %tr
                  %th カテゴリー
                  %td
                    = link_to "ベビー・キッズ", "#", class: ""
                    %br/
                    = link_to "ベビー服(男の子用)", "#", class: ""
                    %br/
                    = link_to "アウター", "#", class: ""
                %tr
                  %th ブランド
                  %td
                %tr
                  %th 商品のサイズ
                  %td
                %tr
                  %th 商品の状態
                  %td 新品/未使用
                %tr
                  %th 配送料の負担
                  %td 送料込み(出品者負担)
                %tr
                  %th 発送元の地域
                  %td
                    = link_to "北海道"
                %tr
                  %th 発送日の目安
                  %td 1-2日で発送
            .itembox__area
              %ul.likebtn-box
                %li.likebtn
                  = icon("fa", "star")
                  お気に入り 0
              %ul.report
                %li.reportbtn
                  = link_to "/" do
                    = icon("fa", "flag")
                    不適切な商品の通報
        .commentbox
          %form.new-comment
            %textarea{cols: "90", id: "", name: "", rows: "5"}
            %p.noticemsg
              相手のことを考え丁寧なコメントを心がけましょう。
              %br
              不快な言葉遣いなどは利用制限や退会処分となることがあります。
            %buttun.commentbtn{name: "button", type: "submit"}
              = icon("fa", "comment")
              コメントする
      %ul.links
        %li
          = link_to "/" do
            = icon("fa", "angle-left")
            %span 前の商品
        %li
          = link_to "/" do
            %span 後ろの商品
            = icon("fa", "angle-right")
          
      .recommended-items
        = link_to "ベビー・キッズをもっと見る", "/", class: "" 
        .recommended-items__lists
          .recommended-items__list
          = link_to image_tag('a007.png', class: "prod-img"), 'material/product-img/a007.png' 
          .recommended-items__img
            %h3.prod-name ee
            .details
              %ul.money-box
                %li.price 1000円
                %li
                  = icon("fa", "star")
                  0
              %p.tax (税込)
      / いますぐ無料ダウンロード
      #bottom-ad
        .bottom-picture
          .bottom-picture-box
            %h2 だれでもかんたん、人生を変えるフリマアプリ
            %p 今すぐ無料ダウンロード！
            %div
              .content-btn
                = link_to "#" ,class:goo-btn do
                   = link_to image_tag('app-store.svg', class: "abtn"), 'material/icon/app-store.svg' 

                = link_to "#" ,class:app-btn do
                   = link_to image_tag('google-play.svg', class: "gbtn"), 'material/icon/google-play.svg' 

      / フッター
      #footer
        %ul.contents
          %li.content
            %h2.title-foot FURIMAについて
            %ul
              %li
                = link_to "会社概要（運営会社）", "#", class: ""
              %li
                = link_to "プライバシーポリシー", "#", class: ""
              %li
                = link_to "FURIMA利用契約", "#", class: ""
              %li
                = link_to "ポイントに関する特約", "#", class: ""
          %li.content
            %h2.title-foot FURIMAを見る
            %ul
              %li
                = link_to "カテゴリー一覧", "#", class: ""
              %li
                = link_to "ブランド一覧", "#", class: "" 
          %li.content
            %h2.title-foot ヘルプ＆ガイド
            %ul
              %li
                = link_to "FURIMAガイド", "#", class: "" 
              %li
                = link_to "FURIMAロゴ利用ガイドライン", "#", class: "" 
              %li
                = link_to "お知らせ", "#", class: "" 
        .logo-foot
          = link_to "#" do
          = image_tag('logo-white.png'), 'material/logo/logo-white.png' 
        %p.minilogo © FURIMA      
         
      .purchase-box
        = link_to "#" do
          %span.purchase-text 
            出品する
          = image_tag('camera.png'), 'material/icon/icon_camera.png' 